@model ProductsIndexViewModel
@{

}

<a asp-action="Upsert" asp-route-id="0" class="btn btn-primary"> Create</a>

<h2 class="text-center">Products list</h2>
<form method="get" class="form-inline mt-2" autocomplete="off">
    <div class="input-group">
            <input type="text"
            name="search"
            placeholder ="What are you looking for?"
            autoselect
            class="form-control"
            />
        <div class="input-group-append">
            <button type="sumbit"  class="btn btn-success form-control">
                <span class="icon">
                    <i class="fas fa-search"></i>
                </span>
            </button>
        </div>
        <div class="input-group-append">
            <a asp-action="index" class="btn btn-outline-danger form-control">
                <span class="icon">
                    <i class="fas fa-ban"></i>
                </span>
            </a>
        </div>
    </div>
</form>

<table class="table table-bordered table-striped mt-4">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Slug</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@product.Id">@product.Id</a></td>
                <td style="width: 100px;">
                    <a asp-action="Details" asp-route-id="@product.Id">
                        <img src=@($"/MediaFiles/{product.Thumbnail}") class="rounded img-fluid">
                    </a>
                </td>
                <td>@product.Name</td>
                <td>@string.Format("{0:C2}",product.Price)</td>
                <td>@product.Slug</td>
                <td>
                    <a asp-action="Upsert" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index"
    asp-route-page="@Model.FilterParams.PreviousPage"
    asp-route-pageSize="@Model.FilterParams.PageSize"
    asp-route-search="@Model.FilterParams.Search"
    class="btn btn-default"
    >Previous Page</a>
<a 
    asp-action="Index"
    asp-route-page="@Model.FilterParams.NextPage"
    asp-route-pageSize="@Model.FilterParams.PageSize"
    asp-route-search="@Model.FilterParams.Search"
    class="btn btn-default">Next Page</a>